{% if categories %}
    <div class="container">
        <!--<nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>-->


        <nav id="menu" class="navbar">
            <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">


                  <!--  <li class="dropdown"><img style="width: 50px;" src="http://sportfitlife.ru/image/cache/catalog/7451rr00-ib0-p11-150x150.jpg"><a href="http://sportfitlife.ru/index.php?route=product/category&amp;path=70" class="dropdown-toggle">ВСЕ ТОВАРЫ</a>

                    </li> -->



                    {% for category in categories %}
                        <!--<li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>-->
                        <li class="dropdown"><img style="width: 50px;" src="{{ category.thumb }}"><a href="{{ category.href }}" class="dropdown-toggle" >{{ category.name }}</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-inner">
                                    <ul class="list-unstyled">


                                        <li><a class="category_img_a" href="{{ category.href }}" ><img src="{{ category.thumb }}" alt="{{ category.name }}" style="float: left;" />



                                                <p>{{ category.description }}</p>



                                            </a></li>



                                    </ul>
                                </div>
                                <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        </nav>





    </div>
{% endif %}